In [2]:
# Import Dependencies
import pandas as pd
import os
import csv
import matplotlib.pyplot as plt

In [4]:
url = "https://flightprojectnorthwestern.s3.us-east-2.amazonaws.com/flights_clean.csv"

flight_df = pd.read_csv(url)

flight_df.head()

,Year,Quarter,Origin,State departure,Destination Airport,Airport Group,Ticket Carrier,Total Passengers,Ticket Cost
0,2019,1,CLT,NC,SRQ,CLT:SRQ,AA,3.0,164.5
1,2019,1,SRQ,FL,CLT,SRQ:CLT,AA,3.0,164.5
2,2019,1,CLT,NC,SRQ,CLT:SRQ,AA,3.0,184.5
3,2019,1,SRQ,FL,CLT,SRQ:CLT,AA,3.0,184.5
4,2019,1,CLT,NC,SRQ,CLT:SRQ,AA,5.0,194.5