In [2]:
# Import Dependencies
import pandas as pd
import os
import csv

In [3]:
csvpath_2019 = "Possible Datasets/2019/2019_AGGREGATED.csv"
csvpath_2020 = "Possible Datasets/2020/Hawaii_flights_2020.csv"
csvpath_2021 = "Possible Datasets/2021/Hawaii_flights_2021.csv"

flights_2019 = pd.read_csv(csvpath_2019)
flights_2020 = pd.read_csv(csvpath_2020)
flights_2021 = pd.read_csv(csvpath_2021)

In [4]:
len(flights_2019)

987615

In [5]:
flights_2019.head()

,YEAR,QUARTER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_STATE_ABR,DEST_STATE_NM,AIRPORT_GROUP,TK_CARRIER_GROUP,OP_CARRIER_GROUP,TICKET_CARRIER,OPERATING_CARRIER,PASSENGERS,MARKET_FARE
0,2019,1,10994,CHS,SC,South Carolina,13830,OGG,HI,Hawaii,CHS:EWR:SFO:OGG,UA:UA:UA,UA:UA:UA,UA,UA,1,355.00
1,2019,1,10994,CHS,SC,South Carolina,12758,KOA,HI,Hawaii,CHS:IAD:LAX:KOA,UA:UA:UA,UA:UA:UA,UA,UA,1,444.00
2,2019,1,10994,CHS,SC,South Carolina,12982,LIH,HI,Hawaii,CHS:IAD:LAX:LIH,UA:UA:UA,UA:UA:UA,UA,UA,1,467.00
3,2019,1,10994,CHS,SC,South Carolina,12173,HNL,HI,Hawaii,CHS:IAD:SFO:HNL,UA:UA:UA,C5:UA:UA,UA,99,1,515.00
4,2019,1,10994,CHS,SC,South Carolina,12173,HNL,HI,Hawaii,CHS:IAH:SFO:HNL,UA:UA:UA,UA:UA:UA,UA,UA,1,525.12

In [6]:
flights_2019 = flights_2019[flights_2019["DEST_STATE_NM"]== "Hawaii"]

In [7]:
len(flights_2019)

516835

In [8]:
flights_2019 = flights_2019[flights_2019["ORIGIN_STATE_NM"]!= "Hawaii"]
flights_2020 = flights_2020[flights_2020["ORIGIN_STATE_NM"]!= "Hawaii"]
flights_2021 = flights_2021[flights_2021["ORIGIN_STATE_NM"]!= "Hawaii"]

In [9]:
len(flights_2019)
#len(flights_2020)
#len(flights_2021)

467347

In [10]:
hawaii_flights = pd.concat([flights_2019,flights_2020,flights_2021])

In [11]:
hawaii_flights

,YEAR,QUARTER,ORIGIN_AIRPORT_ID,ORIGIN,ORIGIN_STATE_ABR,ORIGIN_STATE_NM,DEST_AIRPORT_ID,DEST,DEST_STATE_ABR,DEST_STATE_NM,AIRPORT_GROUP,TK_CARRIER_GROUP,OP_CARRIER_GROUP,TICKET_CARRIER,OPERATING_CARRIER,PASSENGERS,MARKET_FARE
0,2019,1,10994,CHS,SC,South Carolina,13830,OGG,HI,Hawaii,CHS:EWR:SFO:OGG,UA:UA:UA,UA:UA:UA,UA,UA,1,355.00
1,2019,1,10994,CHS,SC,South Carolina,12758,KOA,HI,Hawaii,CHS:IAD:LAX:KOA,UA:UA:UA,UA:UA:UA,UA,UA,1,444.00
2,2019,1,10994,CHS,SC,South Carolina,12982,LIH,HI,Hawaii,CHS:IAD:LAX:LIH,UA:UA:UA,UA:UA:UA,UA,UA,1,467.00
3,2019,1,10994,CHS,SC,South Carolina,12173,HNL,HI,Hawaii,CHS:IAD:SFO:HNL,UA:UA:UA,C5:UA:UA,UA,99,1,515.00
4,2019,1,10994,CHS,SC,South Carolina,12173,HNL,HI,Hawaii,CHS:IAH:SFO:HNL,UA:UA:UA,UA:UA:UA,UA,UA,1,525.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454653,2021,4,14747,SEA,WA,Washington,13830,OGG,HI,Hawaii,SEA:SJC:OGG,AS:AS,AS:AS,AS,AS,1,462.13
454654,2021,4,14747,SEA,WA,Washington,13830,OGG,HI,Hawaii,SEA:SJC:OGG,AS:AS,AS:AS,AS,AS,1,549.51
454655,2021,4,14747,SEA,WA,Washington,13830,OGG,HI,Hawaii,SEA:SJC:OGG,AS:AS,AS:AS,AS,AS,1,558.09
454656,2021,4,14747,SEA,WA,Washington,12173,HNL,HI,Hawaii,SEA:HNL,AS,AS,AS,AS,1,222.48
454657,2021,4,14747,SEA,WA,Washington,12173,HNL,HI,Hawaii,SEA:SMF:HNL,AS:HA,AS:HA,99,99,1,445.00

In [20]:
clean_data_df= hawaii_flights.rename(columns=
                                
                                         {"YEAR": "Year",
                                         "QUARTER":"Quarter",
                                         "ORIGIN":"Origin",
                                         "ORIGIN_STATE_ABR":"State departure",
                                         "DEST":"Destination Airport",
                                         "DEST_STATE_ABR":"Destination State",
                                         "AIRPORT_GROUP":"Airport Group",
                                         "TICKET_CARRIER":"Ticket Carrier",
                                         "PASSENGERS":"Total Passengers",
                                         "MARKET_FARE":"Ticket Cost"
                                        }
                                    )

clean_data_df

,Year,Quarter,ORIGIN_AIRPORT_ID,Origin,State departure,ORIGIN_STATE_NM,DEST_AIRPORT_ID,Destination Airport,Destination State,DEST_STATE_NM,Airport Group,TK_CARRIER_GROUP,OP_CARRIER_GROUP,Ticket Carrier,OPERATING_CARRIER,Total Passengers,Ticket Cost
0,2019,1,10994,CHS,SC,South Carolina,13830,OGG,HI,Hawaii,CHS:EWR:SFO:OGG,UA:UA:UA,UA:UA:UA,UA,UA,1,355.00
1,2019,1,10994,CHS,SC,South Carolina,12758,KOA,HI,Hawaii,CHS:IAD:LAX:KOA,UA:UA:UA,UA:UA:UA,UA,UA,1,444.00
2,2019,1,10994,CHS,SC,South Carolina,12982,LIH,HI,Hawaii,CHS:IAD:LAX:LIH,UA:UA:UA,UA:UA:UA,UA,UA,1,467.00
3,2019,1,10994,CHS,SC,South Carolina,12173,HNL,HI,Hawaii,CHS:IAD:SFO:HNL,UA:UA:UA,C5:UA:UA,UA,99,1,515.00
4,2019,1,10994,CHS,SC,South Carolina,12173,HNL,HI,Hawaii,CHS:IAH:SFO:HNL,UA:UA:UA,UA:UA:UA,UA,UA,1,525.12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
454653,2021,4,14747,SEA,WA,Washington,13830,OGG,HI,Hawaii,SEA:SJC:OGG,AS:AS,AS:AS,AS,AS,1,462.13
454654,2021,4,14747,SEA,WA,Washington,13830,OGG,HI,Hawaii,SEA:SJC:OGG,AS:AS,AS:AS,AS,AS,1,549.51
454655,2021,4,14747,SEA,WA,Washington,13830,OGG,HI,Hawaii,SEA:SJC:OGG,AS:AS,AS:AS,AS,AS,1,558.09
454656,2021,4,14747,SEA,WA,Washington,12173,HNL,HI,Hawaii,SEA:HNL,AS,AS,AS,AS,1,222.48
454657,2021,4,14747,SEA,WA,Washington,12173,HNL,HI,Hawaii,SEA:SMF:HNL,AS:HA,AS:HA,99,99,1,445.00

In [27]:
airports_data_df = clean_data_df[['Year', 'Quarter','Origin','State departure','Destination Airport','Airport Group',
                                       'Ticket Carrier','Total Passengers','Ticket Cost']]
airports_data_df.head(100)

,Year,Quarter,Origin,State departure,Destination Airport,Airport Group,Ticket Carrier,Total Passengers,Ticket Cost
0,2019,1,CHS,SC,OGG,CHS:EWR:SFO:OGG,UA,1,355.00
1,2019,1,CHS,SC,KOA,CHS:IAD:LAX:KOA,UA,1,444.00
2,2019,1,CHS,SC,LIH,CHS:IAD:LAX:LIH,UA,1,467.00
3,2019,1,CHS,SC,HNL,CHS:IAD:SFO:HNL,UA,1,515.00
4,2019,1,CHS,SC,HNL,CHS:IAH:SFO:HNL,UA,1,525.12
...,...,...,...,...,...,...,...,...,...
169,2019,1,SNA,CA,HNL,SNA:PHX:HNL,AA,1,252.00
171,2019,1,SNA,CA,KOA,SNA:PHX:KOA,AA,1,254.00
172,2019,1,SNA,CA,MKK,SNA:PHX:KOA:HNL:MKK,99,1,480.96
174,2019,1,SNA,CA,HNL,SNA:PHX:KOA:HNL,AA,1,282.96
176,2019,1,SNA,CA,KOA,SNA:PHX:KOA,AA,1,306.50